{% extends 'alp/base.html' %}
{% block content %}

<center>
<h3>Logowanie</h3>
<form method="post">
  {% csrf_token %}
 <table class ="table">
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<button type="submit">Zaloguj</button>
</form>
  <br>
  <div class="well">Nie masz konta? Wyślij wniosek <a href="mailto:spio201920@gmail.com">tutaj</a></div>
</center>
{% endblock %}

