{% extends 'alp/base.html' %}
{% block content %}

<table class="table">
    <tr>
        <td style = "width: 30px; padding: 15px"><i class='far fa-futbol' style='font-size:20px'></i></td>
        <td ><h4>{{match.league}}</h4></td>
    </tr>
    <tr>
        <td style = "width: 30px; padding: 15px"><i class='far fa-clock' style='font-size:20px'></i></td>
        <td ><h4>{{match.game_date}}</h4></td>
    </tr>
    <tr>
        <td style = "width: 30px; padding: 15px"><i class='fas fa-map-marker-alt' style='font-size:20px'></i></td>
        <td ><h4>{{match.place}}</h4></td>
    </tr>
</table>
<br>
<h4>Kolejka {{match.round_game}}</h4>
<table class="table table-bordered table-striped text-center">
    <tr>
        <td style = "width: 45%;"><h4 class="display-4"><a href="/teams/{{match.host_team}}/">{{match.host_team}}</a></h4></td>
        <td></td>
        <td style = "width: 45%;"><h4 class="display-4"><a href="/teams/{{match.guest_team}}/"> {{match.guest_team}}</a></h4></td>
    </tr>
    <tr>
        <td><h1 class="display-1" >{{match.host_team_goals}}</h1></td>
        <td><h1 class="display-1">-</h1></td>
        <td><h1 class="display-1"> {{match.guest_team_goals}}</h1></td>
    </tr>
</table><br>
{% if match.comments == null or  match.comments == "" %}
{%else%}

<table class="table table-bordered table-striped ">
    <tr>
        <td style = "width: 45%;"><h5 class="display-5">Szczegóły meczu</h5></td>
    </tr>
    <tr>
        <td><h5 class="display-5" >{{match.comments}}</h5></td>
    </tr>
</table>
{% endif %}
{% endblock %}
