{% extends 'alp/base.html' %}
{% block content %}


<h3>{{match.league}} </h3>
<h4>Kolejka {{match.round_game}}</h4>
<table class="table table-striped">
  <thead>
  <tr>
      <th scope="col">Data</th>
      <th scope="col">Gospodarz</th>
      <th scope="col">Wynik</th>
      <th scope="col">Gość</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row"> {{match.game_date}}</a></th>
    <th scope="row"> <a href="/teams/{{match.host_team}}/">
        {{match.host_team}}</a></th>
    <th scope="row">{{match.host_team_goals}} - {{match.guest_team_goals}}</th>
      <th scope="row"><a href="/teams/{{match.guest_team}}/"> {{match.guest_team}}</a></th>
  </tr>
  </table>
<h3>Miejsce spotkania: {{match.place}}</h3>
{% if match.comments == null or  match.comments == "" %}
{%else%}
<ul>Szczegóły meczu: {{match.comments}}</ul>
{% endif %}
{% endblock %}
