<html>
    <head>
        <title>Apka w budowie</title>
    </head>
    <body>

        {% for match in matches %}
<table>
  <tr>
    <th>{{match.host_team}}</th>
    <th>-</th>
    <th>{{match.guest_team}}</th>
      <th> </th>
      <th>{{match.host_team_goals}}</th>
    <th>:</th>
    <th>{{match.guest_team_goals}}</th>
  </tr>
    </table>
{% endfor %}
                <center>
        <img src = "https://www.gify.net/data/media/1003/bob-budowniczy-ruchomy-obrazek-0021.gif">
        <p>Apka w budowie</p><p>Niebawem będzie tu coś fajnego!</p>
                        <h1>Pracujemy nad tym</h1>
        </center>
    </body>
</html>