{% extends 'alp/base.html' %}
{% block content %}


 <br>
  <input class="form-control" style = "width:30%" id="search_team_name" type="text" placeholder="Wyszukaj..">
<br>
<table id="teams_table" class="table table-striped"  style = "text-align:center" >
  <tbody>
  {% for team in teams %}
  <tr >
    <th scope="row"> <a href="/teams/{{team.team_name}}/"> {{team.team_name}}</a></th>
  </tr>

  {% endfor %}
{% endwith %}</table>

<script>
$(document).ready(function(){
  $("#search_team_name").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#teams_table tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

</script>

{% endblock %}
